.header {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;

    background: linear-gradient(8deg, #050609 0%, rgba(8, 10, 14, 0.00) 100%), var(--bannerURL), lightgray;
    background-size: cover;
}

.header_back {
    display: flex;
    align-items: center;
    gap: 10px;

    opacity: 0.5;

    color: white;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.header_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.title {
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 50px 50px 50px;
    color: #333;
    --primary: #333;
}

.content a {
    text-decoration: underline;
}

.info {
    display: flex;
    align-items: center;
}

.author {
    display: flex;
    gap: 10px;
    align-items: center;
}

.author .avatar {
    height: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.author .authorInformation {
    color: #5A5A5A;
}

.author .authorInformation .authorName {
    font-size: 16px;
    font-weight: 600;
}

.author .authorInformation .authorRole {
    font-size: 12px;
    font-weight: 400;
}

.releaseDate {
    color: #ACACAC;
    font-size: 12px;
    font-weight: 400;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}