.button {
    --borderRadius: 8px;
    background: none;

    position: relative;
    overflow: hidden;
    isolation: isolate;

    border: none;
    border-radius: var(--borderRadius);
    padding: 0;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
    user-select: none;
}

.bottom, .top {
    padding: 15px;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bottom {
    position: relative;
    background: var(--sideBar_background);
    color: var(--primary);
    z-index: 1;
    border-radius: calc(var(--borderRadius) + 2px);
}

.top {
    position: absolute;
    background: var(--background);
    color: var(--color);
    z-index: 2;
    transition: width .3s ease;
    clip-path: inset(0 calc(100% - var(--progress)) 0 0);
}

.colors_green {
    --background: var(--button_green);
    --color: var(--text_green);
}

.colors_blue {
    --background: var(--button_blue);
    --color: var(--text_blue);
}

.colors_yellow {
    --background: var(--button_yellow);
    --color: var(--text_yellow);
}