.button {
    --borderRadius: 12px;

    padding: 15px;
    position: relative;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
    user-select: none;

    background: var(--background);
    color: var(--color);
    border-radius: var(--borderRadius);

    border: 2px solid transparent;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.border {
    border: 2px solid var(--border);
}

.rounded {
    --borderRadius: 50px;
    padding: 15px 35px;
}

.colorsGreen {
    --background: var(--buttonGreen);
    --color: var(--buttonGreenText);
    --border: var(--buttonLightBorder);
}

.colorsBlue {
    --background: var(--buttonBlue);
    --color: var(--buttonBlueText);
    --border: var(--buttonLightBorder);
}

.colorsYellow {
    --background: var(--buttonYellow);
    --color: var(--buttonYellowText);
    --border: var(--buttonLightBorder);
}

.colorsDark {
    --background: var(--buttonDark);
    --color: var(--buttonDarkText);
    --border: var(--buttonDarkBorder);
}

.colorsLight {
    --background: var(--buttonLight);
    --color: var(--buttonLightText);
    --border: var(--buttonLightBorder);
}

.colorsRed {
    --background: var(--buttonRed);
    --color: var(--buttonRedText);
    --border: var(--buttonLightBorder);
}
