.container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    padding: 0px 12px 0px 12px;
    margin: 8px 0px 8px 0px;

    background: rgba(0, 0, 0, 0);
    border-radius: 8px;

    transition: background 0.1s;
}

.container:hover {
    background: rgba(0, 0, 0, 0.05);
}

.main {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.top_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;

    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom_container {
    display: flex;
    padding-top: 10px;
    align-items: center;
    gap: 5px;
    align-self: stretch;

    color: #494949;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottom_container > * > .author {
    font-weight: 600;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.thumbnail {
    margin: 12px 0px 12px 0px;
    border-radius: 8px;
    width: 125px;
    height: 100px;
    align-self: stretch;
    background: #D9D9D9;
}

.releaseDate {
    color: #ACACAC;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}