.container {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
    align-self: stretch;

    background: var(--sideBarBackground);

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    z-index: 10000;

    opacity: 1;
    transition: opacity 250ms;
}

.factContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.factHeader {
    color: var(--accent);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.progressRoot {
    display: flex;
    width: 350px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: 97px;
    background: rgba(255, 255, 255, 0.025);
}

.progressIndicator {
    width: 100%;
    height: 5px;

    border-radius: 55px;
    background: var(--accent);

    animation-name: progressAnimation;
    animation-duration: 3s;
}

@keyframes progressAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
