.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    background: linear-gradient(241deg, rgba(0, 0, 0, 0.00) 14.98%, #000 107.9%),
        var(--bannerBack) lightgray 50% / cover no-repeat;
}

.bannerApp {
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.bannerAppIcon {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.bannerApp > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    overflow: hidden;
}

.profileBadge {
    display: flex;
    height: 31px;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 38px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(0, 0, 0, 0.50);

    color: #BDBDBD;
    font-size: 15px;
    font-weight: 700;
}

.profileBadge > svg {
    margin-right: -5px;
}

.bannerOptions {
    display: flex;
    padding: 15px;
    padding-left: 25px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
}

.bannerOptionsStats {
    display: flex;
    align-items: center;
    gap: 25px;
}

.bannerOptionsStats > div {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #C0C3CD;
    font-size: 16px;
    font-weight: 400;
}

.highlightedStat {
    color: #DBDDE7;
    font-weight: 500;
}

.bannerOptionsMain {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bannerOptionsMain > button {
    font-size: 16px;
}

.pageContainer {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 25px;
    flex: 1 0 0;
    align-self: stretch;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.sidebar {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.sidebar > button {
    font-weight: 500;
    text-transform: none;
    width: 100%;
    justify-content: left;

    padding: 3px;
    padding-left: 15px;
}

.sidebar > button > .icon {
    width: 24px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.creditLink {
    margin-top: 2px;
    align-self: flex-start;
    cursor: pointer;
}

.creditLink > svg {
    width: 8px;
}
