.button {
    display: flex;
    width: 200px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.text {
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.play_button {
    background: #2ED9FF;
}

.play_text {
    color: #002A3D;
}

.update_button {
    background: #46E74F;
}

.update_text {
    color: #003C03;
}

.update_icon {
    width: 13.333px;
    height: 13.333px;
    flex-shrink: 0;
}

.installing_button {
    background: #FFB800;
}

.installing_text {
    color: #351A00;
}

.installing_icon {
    width: 18.666px;
    height: 18.666px;
    flex-shrink: 0;
}