.play_button {
    display: flex;
    width: 150px;
    height: 36px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #2ED9FF;
    border: none;
    outline: none;
}

.play_text {
    color: #002A3D;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.update_button {
    display: flex;
    width: 150px;
    height: 36px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #46E74F;
    border: none;
    outline: none;
}

.update_text {
    color: #003C03;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.update_icon {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
}

.installing_button {
    display: flex;
    width: 150px;
    height: 36px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFB800;
    border: none;
    outline: none;
}

.installing_text {
    color: #351A00;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.installing_icon {
    width: 14.033px;
    height: 14px;
    flex-shrink: 0;
}