.item {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.02);
}

.main {
    display: flex;
    width: 350px;
    align-items: center;
    gap: 10px;
}

.extra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.icon {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #000410;
}

.icon > * {
    width: 32px;
    height: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_header {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}