.credit_entry {
    display: flex;
    align-items: center;
    gap: 5px;
}

.credit_text {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}