.titleBar {
    position: fixed;
    inset: 0 0 auto 0;

    display: flex;
    height: var(--titleBarHeight);
    padding-left: 10px;
    align-items: center;
    align-self: stretch;

    background: #05060B;
    color: #858BB5;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;

    pointer-events: none;
}

.refreshButton {
    display: flex;
    width: var(--titleBarHeight);
    height: var(--titleBarHeight);
    justify-content: center;
    align-items: center;

    transition: color 0.1s;
    color: #858BB5;
}

.refreshButton:hover {
    color: #FFF;
}

.refreshButton > * {
    width: 12px;
    height: 12px;
}

.controls {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.version {
    display: flex;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 33px;
    border: 2px solid #262946;

    color: #A5AAD7;
    font-size: 11px;
    font-weight: 700;
}

.control {
    display: flex;
    width: var(--titleBarHeight);
    height: var(--titleBarHeight);
    justify-content: center;
    align-items: center;

    transition: background 0.1s, color 0.1s;
    color: #858BB5;
}

.control > * {
    width: 12px;
    height: 12px;
}

.control:hover {
    background: #262946;
    color: #FFF;
}
