.title_bar {
    background: var(--titleBar_background);
    color: var(--titleBar_primary);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    height: 30px;
    position: fixed;
    inset: 0 0 auto 0;

    display: flex;
    align-items: center;
    padding-left: 10px;
}

.text {
    display: flex;
    gap: 10px;
    color: var(--titleBar_accent);
}

.text span:first-of-type {
    color: var(--titleBar_primary);
}

.buttons {
    margin-left: auto;
    display: flex;
    height: 100%;
}

.button {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background: var(--titleBar_accent);
}

.button svg {
    height: 12px;
}