.sidebar {
    width: 300px;
    padding: 15px;

    background: var(--sideBarBackground);
    color: var(--primary);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 50px;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.footer > .credits {
    color: var(--primary-25);
    font-size: 12px;
    font-weight: 700;
}

.footer > .socials {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.socials > .link {
    height: 20px;
}

.socials > .link > svg {
    height: 100%;
    color: var(--primary);
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Menu Button */

.button {
    display: flex;
    gap: 10px;

    background: rgba(255, 255, 255, 0);
    border-radius: 13px;

    transition: background 0.1s;
}

[aria-current="page"] > .button,
.button:hover {
    background: rgba(255, 255, 255, 0.025);
}

.button .icon {
    height: 42px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .icon > * {
    height: 20px;
    color: var(--accent);
}

.button .text {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
