.sidebar {
    width: 300px;
    padding: 15px;
    
    background: var(--sideBar_background);
    color: var(--primary);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.footer > .credits {
    color: var(--primary-25);
    font-size: 12px;
    font-weight: 700;
}

.footer > .socials {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.socials > .link {
    height: 20px;
}

.socials > .link > svg {
    height: 100%;
    color: var(--primary);
}

/* Menu Button */

.button {
    display: flex;
    gap: 10px;
}

.button .icon {
    height: 42px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .icon > * {
    height: 20px;
    color: var(--accent);
}

.button .text {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}