.sidebar {
    width: var(--sideBarWidth);
    padding: 15px;

    background: var(--sideBarBackground);
    color: var(--primary);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 50px;

    overflow-y: auto;
    overflow-x: hidden;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Menu Button */

.button {
    display: flex;

    background: transparent;
    color: #B8BDD6;

    border-radius: 13px;

    transition: background 0.1s;
}

[aria-current="page"] > .button,
.button:hover {
    background: #0D0F23;
    color: #D4D9EE;
}

.button .icon {
    height: 42px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .icon > * {
    height: 20px;
}

.button .text {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 12px;
}

.updatedTag {
    display: flex;
    padding: 3px 6px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 50px;
    background: #FCD548;
    border: 2px solid #ffe071;

    color: #4F2600;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.footerButton {
    width: 38px;
    height: 38px;
    padding: 10px;

    background: transparent;
    color: #B8BDD6;
    border-radius: 8px;
    transition: background 0.1s;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerButton[aria-current="page"], .footerButton:hover {
    background: #0D0F23;
    color: #D4D9EE;
}

.footerButton > svg {
    width: 20px;
    height: 20px;
}
