.banner {
    height: 250px;
    flex-shrink: 0;
    align-self: stretch;

    background-image:
        url("/src/assets/Banner/OfficialLogo.png"),
        linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 100%),
        url("/src/assets/Banner/OfficialBanner.png");
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-size: contain, contain, cover;
    background-position: center, center, center;
}

.main {
    display: flex;
    width: 100%;
    min-height: calc(100% - 250px);
    padding: 25px;
    align-items: flex-start;
    gap: 25px;
    background: #F5F5F5;
}

.sidebar {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.song {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.song_title {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.song_artist {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.info_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.info_entry {
    display: flex;
    padding: 0px 1px;
    align-items: center;
    gap: 6px;

    color: #333;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}