.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 8px;

    /* Masking works WAY better than below */
    /*overflow: none;*/
    mask: linear-gradient(#000 0 0);
}

.button {
    /* Disable the button's border radius and replace it with our own */
    --borderRadius: 0;

    width: 100%;
}

.dropdown_button {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--sideBar_background);
    border: none;
    cursor: pointer;
}

.dropdown_content {
    width: 300px;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.dropdown_item {
    font-size: 16px;
    line-height: 1;
    color: var(--violet-11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px;
    position: relative;
    padding-left: 25px;
    user-select: none;
    outline: none;
}

.dropdown_item[data-highlighted] {
    background-color: var(--violet-9);
    color: var(--violet-1);
}

.dropdown_arrow {
    fill: white;
}