.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 8px;

    /* Masking works WAY better than below */
    /*overflow: none;*/
    mask: linear-gradient(#000 0 0);
}

.button {
    /* Disable the button's border radius and replace it with our own */
    --borderRadius: 0;

    width: 100%;
}

.dropdown_button {
    display: flex;
    padding: 10px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--sideBar_background);
    border: none;
}