.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 8px;

    /* Masking works WAY better than below */
    /*overflow: none;*/
    mask: linear-gradient(#000 0 0);
}

.button {
    /* Disable the button's border radius and replace it with our own */
    --borderRadius: 0;

    width: 100%;
}

.dropdown_button {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--sideBarBackground);
    border: none;
    cursor: pointer;
}

.dropdown_content {
    width: 300px;
    background: var(--sideBarBackground);

    border-radius: 8px;
    padding: 5px;

    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.dropdown_item {
    display: flex;
    align-items: center;
    position: relative;

    border-radius: 8px;
    padding: 15px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);

    color: var(--primary);

    transition: background 0.1s;

    outline: none;
    user-select: none;
    cursor: pointer;
}

.dropdown_item[data-highlighted] {
    background: var(--sideBarSelection);
}

.dropdown_arrow {
    fill: var(--sideBarBackground);
}
