.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.banner {
    display: flex;
    height: 290px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    align-self: stretch;
    flex-direction: column;

    background: linear-gradient(68deg, var(--accent) -29.28%, transparent 110.95%),
        var(--banner) lightgray 50% / cover no-repeat;
}

.banner > .newTag {
    display: flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 50px;
    background: #FCD548;
    border: 2px solid #ffe071;
    margin-bottom: 10px;

    color: #4F2600;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner > .preHeader {
    color: rgba(15, 17, 24, 0.75);
    font-family: "Archivo Black", var(--backupFonts);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.banner > .header {
    color: #0F1118;
    font-family: "Big Shoulders Text", var(--backupFonts);
    text-shadow: 4px 4px var(--accent);
    line-height: 90%;
    font-size: 120px;
    font-weight: 400;
    text-transform: uppercase;
}

.lightBannerText > .preHeader {
    color: rgba(255, 255, 255, 0.4);
}

.lightBannerText > .header {
    color: #FFF;
}

.banner > .buttons {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search {
    display: flex;
    height: 100px;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.content {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.section > .title {
    display: flex;
    padding: 12px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.section > .title > .left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #41475F;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.section > .list {
    --item-width: 450px;

    max-width: 100%;
    overflow-x: auto;

    padding: 12px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--item-width), auto));
    grid-gap: 12px;
    grid-auto-flow: column;
}

.section.expanded > .list {
    width: 100%;
    grid-auto-flow: row;
}

.profileView {
    display: flex;

    min-width: var(--item-width);
    max-width: var(--item-width);

    padding: 12px;
    align-items: center;
    gap: 20px;

    border: none;
    border-radius: 16px;
    background: linear-gradient(241deg, rgba(0, 0, 0, 0.00) 14.98%, #000 107.9%),
        var(--background) lightgray 50% / cover no-repeat;

    --outline-width: 2px;
    outline: var(--outline-width) solid rgba(255, 255, 255, 0.15);
    outline-offset: calc(var(--outline-width) * -1);

    box-shadow: none;

    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.3s;
}

.expanded .profileView {
    max-width: none;
}

.profileView:hover {
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.025);
}

.profileView > .icon {
    width: 100px;
    height: 100px;
}

.profileView > .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.profileView > .info > header {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.profileView > .info > span {
    color: #C5C5C5;
    font-size: 16px;
    font-weight: 400;
}
