.banner {
    height: 250px;
    flex-shrink: 0;
    align-self: stretch;

    background-image: url("/src/assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main {
    display: flex;
    width: 100%;
    min-height: calc(100% - 250px);
    padding: 25px;
    align-items: flex-start;
    gap: 25px;
    background: var(--white-background);

    align-items: stretch;
}

.content {
    flex: 1 0 0;
    font-style: italic;

    color: rgba(1, 1, 1, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.info_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.info_entry {
    display: flex;
    padding: 0px 1px;
    align-items: center;
    gap: 6px;

    color: #333;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}