.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.separator {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px 0px;
}

.separator .name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--sideBar_separator_color);
}

.separator .right {
    flex: 1;
    display: flex;
    align-items: center;
}

.add {
    height: 15px;
    color: var(--sideBar_separator_color);
    opacity: 0.25;
    margin-left: auto;
}