.selector {
    display: flex;
    gap: 10px;
    align-items: center;
    --border-radius: 8px;

    padding: 5px;
    background: rgba(255, 255, 255, 0);
    border-radius: var(--border-radius);

    transition: background 0.1s;
}

[aria-current="page"] > .selector,
.selector:hover {
    background: rgba(255, 255, 255, 0.025);
}

.selector > .icon {
    height: 42px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.selector > .icon > * {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--border-radius);
}

.selector > .text > .channel {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-40);
}

.selector > .text > .name {
    font-size: 18px;
    font-weight: 600;
}

.selector > .version {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    font-weight: 700;

    margin-left: auto;
    margin-right: 2px;
    padding: 10px;

    color: var(--primary-75);
    background: var(--primary-05);
    border-radius: var(--border-radius);
}

.selector > .version:empty {
    display: none;
}

.selector > .version[data-update-available="true"] {
    background: var(--green-10);
}

.selector > .version[data-update-available="true"]::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L6 4M6 4L4 6M6 4L6 8M1 6C0.999999 3.23858 3.23858 1 6 1C8.76142 1 11 3.23858 11 6C11 8.76142 8.76142 11 6 11C3.23858 11 1 8.76142 1 6Z' stroke='%2346E74F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 15px;
    aspect-ratio: 1;
}