:root {
    --accent-rgb: 46, 217, 255;
    --accent: rgb(var(--accent-rgb));

    --primary-rgb: 255, 255, 255;
    --primary: rgb(var(--primary-rgb));
    --primary-05: rgba(var(--primary-rgb), 0.05);
    --primary-25: rgba(var(--primary-rgb), 0.25);
    --primary-40: rgba(var(--primary-rgb), 0.4);
    --primary-75: rgba(var(--primary-rgb), 0.75);

    --white-background: #F5F5F5;

    --green-rgb: 70, 231, 79;
    --green: rgb(var(--green-rgb));
    --green-10: rgba(var(--green-rgb), .1);

    --titleBarBackground: #000209;
    --titleBarPrimary: #FFF;
    --titleBarAccent: #868AA8;
    --titleBarHeight: 30px;

    --sideBarBackground: #05060B;
    --sideBarSeparatorColor: #394452;
    --sideBarSelection: rgba(255, 255, 255, 0.1);

    --buttonGreen: #17E289;
    --buttonBlue: #2ED9FF;
    --buttonYellow: #FCD548;
    --buttonGray: #0F121D;
    --buttonRed: #F32B37;

    --buttonGreenText: #005832;
    --buttonBlueText: #03596B;
    --buttonYellowText: #4F2600;
    --buttonGrayText: #E0E1E7;
    --buttonRedText: #FFF;

    --buttonLightBorder: rgba(255, 255, 255, 0.4);
    --buttonDarkBorder: #222638;
}

* {
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

.titlebar {
    height: 30px;
    background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: #5bbec3;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: var(--titleBarHeight);
}

#content {
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white-background);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}
