:root {
	--accent-rgb: 46, 217, 255
	--accent: rgb(var(--accent-rgb));

	--primary-rgb: 255,255,255;
	--primary: rgb(var(--primary-rgb));
	--primary-25: rgba(var(--primary-rgb), 0.25);
	--primary-40: rgba(var(--primary-rgb), 0.4);

	--titleBar_background: #000209;
	--titleBar_primary: #fff;
	--titleBar_accent: #868AA8;
	--titleBar_height: 30px;

	--sideBar_background: #05060B;
}

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
	sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';;
}

.titlebar {
	height: 30px;
	background: #329ea3;
	user-select: none;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.titlebar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}

.titlebar-button:hover {
	background: #5bbec3;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: var(--titleBar_height);
}

#content {
	flex: 1;
	width: 100%;
}