:root {
	--titleBar_background: #000209;
	--titleBar_primary: #fff;
	--titleBar_accent: #868AA8;
	--titleBar_height: 30px;
}

* {
	box-sizing: border-box;
}

body {
	padding-top: var(--titleBar_height);
	margin: 0px;
}

.titlebar {
	height: 30px;
	background: #329ea3;
	user-select: none;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.titlebar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}

.titlebar-button:hover {
	background: #5bbec3;
}