.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.header_container {
    display: flex;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header_text {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.load_more {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 100%;
}